celery==4.1.0
django-bootstrap3==9.1.0
dj-database-url==0.4.2
Django==1.11.2
Flask==0.12.2
Flask-Cors==3.0.2
gunicorn==19.7.1
h5py==2.7.0
html5lib==0.9999999
Keras==2.0.5
newrelic==2.90.0.75
numpy==1.12.1
numpydoc==0.6.0
odo==0.5.0
olefile==0.44
openpyxl==2.4.7
packaging==16.8
pandas==0.20.1
pathlib2==2.2.1
Pillow==4.1.1
psycopg2==2.7.1
python-decouple==3.0
requests==2.14.2
scikit-image==0.13.0
scikit-learn==0.18.1
tensorflow==1.2.0
Theano==0.9.0